<div>
	<table width="100%" border="1" cellspacing="0" style="margin:0;padding:0;table-layout:fixed;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td height="125px" width="25%" rowspan="2" class="structureViewSection">
					<cockpit code="SiteLogo" />
				</td>
				<td class="structureViewSection">
					<cockpit code="HeaderLinks" />
					<cockpit code="SearchBox" />
				</td>
		
				<td width="15%" rowspan="2" class="structureViewSection">
					<cockpit code="MiniCart" />
				</td>
			</tr>
			<tr>
				<td height="89px" class="structureViewSection">
					<div>Header</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" class="structureViewSection">
					<cockpit code="NavigationBar" />
					<div>NavigationBar</div>
				</td>
				
			</tr>
			
			<tr>
			
			 <td width="60%" height="170px"  colspan="3" class="structureViewSection" style="vertical-align:top;">
				<table height="170px" align="center" width="80%" border="1" cellpadding="2">
					<tr>
						<td width="40%" class="structureViewSection" height="250px" style="vertical-align:top;">
							B2bPartSearch
							<cockpit code="PartSearchB2b" />
						</td>
						
						<td class="structureViewSection" height="250px" style="vertical-align:top;">
							B2bDownload
							<cockpit code="DownloadB2b" />
						</td>
						<td width="30%" height="250px" colspan="2" rowspan="20" style="vertical-align:top;">
							B2bRewardsAndClasses
							<cockpit code="RewardsAndClassesB2b" />
						</td>
					</tr>
				</table>
			  </td>
			  
			</tr>
			<tr>
				<td width="60%" height="170px"  colspan="3" class="structureViewSection" style="vertical-align:top;">
					<table height="170px" align="center" width="80%" border="1" cellpadding="2">
						<tr>
							
							
							<td class="structureViewSection" height="250px" style="vertical-align:top;">
								B2bMsgAnnounceOffer
								<cockpit code="MsgAnnounceOfferB2b" />
							</td>
							
						</tr>
					</table>
				  </td>
			</tr>
			<tr>
			
			 <td width="60%" height="170px"  colspan="3" class="structureViewSection" style="vertical-align:top;">
				<table height="170px" align="center" width="80%" border="1" cellpadding="2">
					<tr>
						<td width="25%" class="structureViewSection" height="150px" style="vertical-align:top;">
							federalmogultechnicianAcademy
							<cockpit code="LearningTipB2b" />
						</td>
						<td width="25%" class="structureViewSection" height="150px" style="vertical-align:top;">
							steeringsystemdiagnostics
							<cockpit code="LearningArticleB2b" />
						</td>
						<td width="25%" class="structureViewSection" height="150px" style="vertical-align:top;">
							wagnerbrakediagnosticsvideo
							<cockpit code="LearningVideo1B2b" />
						</td>
						<td width="25%" class="structureViewSection" height="150px" style="vertical-align:top;">
							seatingsegments_testtttttsss
							<cockpit code="LearningArticle2B2b" />
						</td>
											
					</tr>
				</table>
			  </td>
			  
			</tr>
			<tr>
				<td height="170px" colspan="3" class="structureViewSection">
					<cockpit code="SpotLightB2b" />
					<div>sdgfjshgj</div>
				</td>
			</tr>
			<tr>
			
			 <td width="60%" height="170px"  colspan="3" class="structureViewSection" style="vertical-align:top;">
				<table height="170px" align="center" width="80%" border="1" cellpadding="2">
					<tr>
						<td width="70%" class="structureViewSection" height="250px" style="vertical-align:top;">
							B2bTechnicianForumPost
							<cockpit code="TechnicianForumPost" />
						</td>
						
						<td width="30%" height="250px" colspan="2" rowspan="20" style="vertical-align:top;">
							B2bQuickLinks
							<cockpit code="QuickLinksb2b" />
						</td>
					</tr>
				</table>
			  </td>
			  
			</tr>
			<tr>
				<td height="80px" colspan="3" class="structureViewSection">
					<cockpit code="FMBrandstrip" />
					<div>Brand Strip</div>
				</td>
			</tr>
			<tr>
				<td height="170px" colspan="3" class="structureViewSection">
					<cockpit code="Footer" />
					<div>FooterB2b</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>
