<div>
	<table width="100%" border="1" cellspacing="0" style="margin:0;padding:0;table-layout:fixed;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="2" height="125px" width="35%" rowspan="2" class="structureViewSection">
					<cockpit code="SiteLogo" />
				</td>
				<td colspan="4" class="structureViewSection">
					<cockpit code="HeaderLinks" />
					<cockpit code="SearchBox" />
				</td>
				<td width="20%" rowspan="2" class="structureViewSection">
					<cockpit code="MiniCart" />
				</td>
			</tr>
			<tr>
				<td colspan="4" height="89px" class="structureViewSection">
					<div>Header</div>
				</td>
			</tr>
			<tr>
				<td colspan="7" height="89px" class="structureViewSection">
					<div>NavigationBar</div>
					<cockpit code="NavigationBar" />
				</td>
			</tr>
			
			<tr>
				<td rowspan="6" width="25%" height="89px" style="vertical-align:top;" class="structureViewSection">
					<div>CategoryRefinementSection</div>
					<cockpit code="CategoryRefinementSection" />
				</td>
			</tr>
			
			<tr>
				<td width="50%" height="150px" colspan="6" style="vertical-align:top;" class="structureViewSection">
					<div>FMProductListBannerSection</div>
					<cockpit code="FMProductListBannerSection" />
				</td>
			</tr>
			<tr>
				<td width="50%" height="150px" colspan="6" style="vertical-align:top;" class="structureViewSection">
					<div>FMymmSearchSection</div>
					<cockpit code="FMymmSearchSection" />
				</td>
			</tr>
			<tr>
				
			</tr>
			
			<tr>
				<td height="300px" rowspan="2" colspan="6" style="vertical-align:top;" class="structureViewSection">
					<div>FMproductsListSection</div>
					<cockpit code="FMproductsListSection" />
				</td>
				
			</tr>
			
			
			<tr></tr>
			<tr>
				<td height="100px" colspan="7" class="structureViewSection">
						<div>FFMbrandStripSection</div>
						<cockpit code="FMBrandstrip" />
				</td>
			</tr>
			<tr>
				<td height="200px" colspan="7" class="structureViewSection">
				<div>Footer</div>
					<cockpit code="Footer" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>