<html>
<head>
	<style type="text/css">
		img {
			border: none;
		}

		td {
			font-family: "Arial", arial, sans-serif;
			color: black;
			text-align: left;
			font-size: 14px;
		}

		a {
			color: #0000ff;
			font-weight: bold;
		}

		a.noline {
			text-decoration: none;
		}

		.small {
			font-size: 11px;
		}

		.bold {
			font-weight: bold;
		}

		.red {
			color: #ac1f2d;
		}

		.large {
			font-size: 16px;
		}

		.larger {
			font-size: 17px;
		}

		.gray {
			color: #676767;
		}

		.italic {
			font-style: italic;
		}

		td.grayBackground {
			background: #b7b7b7;
		}

		td.bottom {
			font-size: 11px;
		}

		.center {
			text-align: center;
		}

		a.black {
			color: black;
		}

		a .gray {
			color: #676767;
		}

		.sidebar {
			border-radius: 10px 0 0 10px;
		}

		.noline {
			text-decoration: none;
		}

		@media only screen and (max-width: 480px) {

			#templateColumns {
				width: 100% !important;
			}

			.templateColumnContainer {
				display: block !important;
				width: 100% !important;
			}

			.columnImage {
				height: auto !important;
				max-width: 480px !important;
				width: 100% !important;
			}

			.columnImageInner {
				height: auto !important;
				max-width: 440px !important;
				width: 90% !important;
			}

			.leftColumnContent {
				display: block !important;
				font-size: 16px !important;
				line-height: 125% !important;
			}

			.rightColumnContent {
				display: block !important;
				font-size: 16px !important;
				line-height: 125% !important;
			}

			.sidebar {
				border-radius: 0px;
			}

			td.bottom {
				font-size: 14px !important;
			}

			td.bottom a {
				display: block !important;
				margin-top: 10px !important;
			}

			.linkImage {
				display: none;
			}

			.centerAfter {
				text-align: center;
			}
		}
	</style>
</head>
<body>

	<table border="0" cellpadding="0" cellspacing="0" width="1100" id="templateColumns" align="left"
		   style="background:white;">

		<tr>
			<td align="center" valign="top" width="100%" colspan="2"
				style="font-family: &quot;Arial&quot;, arial, sans-serif;color: black;text-align: left;font-size: 14px;">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td style="font-family: &quot;Arial&quot;, arial, sans-serif;color: black;text-align: left;font-size: 14px;">
							<table border="0" cellpadding="15" cellspacing="0" width="100%">
								<tr>
									<td valign="top" class="leftColumnContent" style="font-family: &quot;Arial&quot;, arial, sans-serif;color: black;text-align: left;font-size: 14px;">
										<br />
										Dear FM Team, A customer filled out the Contact Us form with the following details,<br />
										<br />
										Customer Name : <span class="bold" style="font-weight: bold;">${ctx.customerName}</span><br />
										Customer Phone Number : <span class="bold" style="font-weight: bold;">${ctx.phone}</span><br />
										Customer Email : <span class="bold" style="font-weight: bold;">${ctx.customerEmail}</span><br />
										Query Type : <span class="bold" style="font-weight: bold;">${ctx.queryType}</span><br />
										Customer Description : <span class="bold" style="font-weight: bold;">${ctx.description}</span><br />					
										Customer ID : <span class="bold" style="font-weight: bold;">${ctx.customerID}</span><br />
										Brand : <span class="bold" style="font-weight: bold;">${ctx.brand}</span><br />
										Order Number : <span class="bold" style="font-weight: bold;">${ctx.orderNumber}</span><br />
										Invoice Number : <span class="bold" style="font-weight: bold;">${ctx.invoiceNumber}</span><br />
										Part Number : <span class="bold" style="font-weight: bold;">${ctx.partNumber}</span><br />
										Best Way to Contact : <span class="bold" style="font-weight: bold;">${ctx.bestWayToContact}</span><br />
										Phone Days : <span class="bold" style="font-weight: bold;">${ctx.phoneDays}</span><br />
										Phone Time : <span class="bold" style="font-weight: bold;">${ctx.phoneTime}</span><br />
										Phone Time Zone : <span class="bold" style="font-weight: bold;">${ctx.phoneTimeZone}</span><br />
										<br />
									</td>
								</tr>
							</table>
						</td>
					</tr>

				</table>
			</td>
		</tr>

	</table>

</body>
</html>