.classpath
.DS_Store
.project
.settings
build
target
*.iml
*.swp
*.swo
.idea/
**/*/.vagrant
**/*/*-testclasses.xml
**/*/beans.xsd
**/*/bower_components
**/*/build.xml
**/*/classes/
**/*/extensioninfo.xsd
**/*/gensrc/
**/*/hybris-install
**/*/items.xsd
**/*/node_modules
**/*/platformhome.properties
hybris-deployment/fm/fmcore/hmc/bin/
hybris-deployment/fm/fmcore/hmc/resources/hmc.xsd
hybris-deployment/fm/fmstorefront/web/addonsrc/
hybris-deployment/fm/fmstorefront/web/testclasses/
hybris-deployment/fm/fmstorefront/web/webroot/WEB-INF/messages/addons/
hybris-deployment/fm/fmstorefront/web/webroot/WEB-INF/tags/addons/
hybris-deployment/fm/fmstorefront/web/webroot/WEB-INF/tld/addons/
hybris-deployment/fm/fmstorefront/web/webroot/WEB-INF/views/addons/
hybris-deployment/fm/fmstorefront/web/webroot/_ui/addons/
hybris-deployment/fm/fmwebservice/web/testclasses/
hybris-deployment/fm/googletagmanager/hmc/bin
hybris-deployment/fm/googletagmanager/hmc/resources/hmc.xsd
/bin/
